.card {
    margin-bottom: 10px;
}
.card-body {
    padding: 10px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.card-text {
    font-size: 1rem;
}

.btn-primary {
    margin-top: 10px;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}